<article class="card-pokemon {{pokemon.types[0].type.name}}" [routerLink]="['/pokedex',pokemon.name]">
    <div class="card-header">
        <h2>{{pokemon.name}}</h2>
        <span>#{{pokemon.id}}</span>
    </div>
    <div class="box-img">
        <img class="img-responsive" src="{{pokemon.sprites.other['official-artwork'].front_default}}" width="193" height="193" alt="Imagem do pokemon {{pokemon.name}}">
    </div>
    <ul class="types">
        <li *ngFor="let type of pokemon.types" class="{{type.type.name}}">{{type.type.name}}</li>
    </ul>
</article>