.card-pokemon
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    padding: 15px,
    border-radius: 8px    
    background: #ffffff
    cursor: pointer
    transition: transform 300ms ease-out

    &:hover
        transform: scale(.9)


    .card-header
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        position: relative

        h2
            margin: 0, 
            text-transform: capitalize
            font-size: 1.8rem
            line-height: 1em
            color: #ffffff

        span 
            position: absolute
            top: 0%
            right: 0
            font-weight: 700
            font-size: 6rem
            line-height: 1em
            color: rgba(255,255,255,.1)
    
    .box-img 
        position: relative

        &::before
            content: ''
            position: absolute            
            top: 0
            left: 0
            width: 100%
            height: 100%
            pointer-events: none
            filter: blur(20px)
            background: rgba(255,255,255,.5)
            mix-blend-mode: overlay
            border-radius: 100%

        img 
            position: relative
            z-index: 2

    .types 
        display: flex
        align-items: center
        justify-content: center
        margin: 0
        padding: 10px 15px
        gap: 10px
        list-style: none
        background: #ffffff
        border-radius: 4px

        li 
            padding: 5px 15px
            border-radius: 2px
            font-size: .875rem
            color: #ffffff

.card-pokemon.water,
.types li.water
    background: #6890f0


.card-pokemon.fire,
.types li.fire
    background: #f05030


.card-pokemon.grass,
.types li.grass
    background: #78c850 


.card-pokemon.grass,
.types li.grass
    background: #78c850 


.card-pokemon.electric,
.types li.electric
    background: #f8d030


.card-pokemon.psychic,
.types li.psychic 
    background: #f85888


.card-pokemon.ice,
.types li.ice 
    background: #98d8d8


.card-pokemon.dragon,
.types li.dragon 
    background: #7038f8


.card-pokemon.dark,
.types li.dark 
    background: #705848


.card-pokemon.normal,
.types li.normal 
    background: #a8a878


.card-pokemon.fighting,
.types li.fighting 
    background: #903028


.card-pokemon.flying,
.types li.flying 
    background: #a890f0


.card-pokemon.poison,
.types li.poison 
    background: #a040a0


.card-pokemon.ground,
.types li.ground 
    background: #e0c068


.card-pokemon.rock,
.types li.rock 
    background: #b8a038


.card-pokemon.bug,
.types li.bug 
    background: #a8b820


.card-pokemon.bug,
.types li.bug 
    background: #a8b820


.card-pokemon.ghost,
.types li.ghost 
    background: #705898


.card-pokemon.steel,
.types li.steel 
    background: #b8b8d0


.card-pokemon.fairy,
.types li.fairy 
    background: #ffacac
