<section class="single-pokemon {{pokemon.types[0].type.name}}">
    <div class="nav-buttons">
        <button class="back-default {{pokemon.types[0].type.name}}" [routerLink]="['/pokedex']">
            Voltar para pokedex
        </button>
        <button class="go-back" (click)="back()">
            <img class="img-responsive" src="assets/img/voltar.png" width="25" height="25" alt="">
        </button>
    </div>
    <div class="container">
        <div class="section-header">
            <h1><small>#{{pokemon.id}}</small> {{pokemon.name}}</h1>
        </div>
        <div class="section-content">
            <div class="left-content">
                <ng-container *ngIf="isFirstFormActive()">
                    <button class="back-default {{pokemon.types[0].type.name}}" (click)="toggleForm(0)">
                        Normal Form
                    </button>
                </ng-container>
                <div class="box-img">
                    <ul class="forms">
                        <li *ngFor="let pokemonForm of pokemonSpecies.varieties ; let i = index; let first = first" [ngClass]="{'active':pokemonForm.is_default,'show-shiny':showShiny}">
                            <img class="img-responsive" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{getPokemonIdByUrl(pokemonForm.pokemon.url)}}.png" width="415" height="415" alt="">
                            <img class="img-responsive shiny" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/{{getPokemonIdByUrl(pokemonForm.pokemon.url)}}.png" width="415" height="415" alt="">
                        </li>
                    </ul>

                    <button class="bt-shiny {{pokemon.types[0].type.name}}" (click)="seePokemonShiny()">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/sparkler.png" width="32" height="32" alt="">
                        </div>
                    </button>
                </div>
                <ul class="other-forms">
                    <li *ngFor="let pokemonForm of pokemonSpecies.varieties.slice(1); let i = index;" (click)="toggleForm(i+1)">
                        <div class="box-img">
                            <img class="img-responsive" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{getPokemonIdByUrl(pokemonForm.pokemon.url)}}.png" width="98" height="98" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-content">
                <div class="box-header">
                    <div class="box-left">
                        <div class="bio">
                            <h2>Description</h2>
                            <p>{{ pokemonSpecies.flavor_text_entries[randomFlavorText].flavor_text}}</p>
                        </div>
                        <div class="pokemon-type">
                            <h2>Type</h2>
                            <ul class="types">
                                <li *ngFor="let type of pokemon.types" class="{{type.type.name}}">{{type.type.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-right">
                        <h2>Stats</h2>
                        <ul>
                            <li *ngFor="let stats of pokemon.stats">
                                <h3>{{substituirString(stats.stat.name,'-',' ')}}</h3>
                                <div class="progress-container">
                                    <progress class="{{pokemon.types[0].type.name}}-progress" max="{{statsCalculator(stats.stat.name,stats.base_stat)}}" value="{{stats.base_stat}}">{{stats.base_stat}}</progress>
                                </div>
                                <span>{{stats.base_stat}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-content">
                    <h2>Evolution Tree</h2>
                    <ul class="evolution-chain">
                        <li *ngFor="let evoId of speciesInfoArray">
                            <a class="box-img" [routerLink]="['/pokedex',evoId.name]">
                                <img class="img-responsive" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{evoId.id}}.png" width="187" height="187" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>